@use "sass:map";
@import "../../assets/styles/variables.scss";

.footer {
  min-height: 20vh;
  background-color: map.get($colors, dark-grey);
  color: map.get($colors, white);
  flex: 0 0 auto;
  padding: 10px 0;

  h2 {
    color: map.get($colors, violet);
  }
}